ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/OtherdrainService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="OtherdrainService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/OtherdrainService?xsd=1"/>
</xsd:schema>
</types>
<message name="getOtherdrain">
<part name="parameters" element="tns:getOtherdrain"/>
</message>
<message name="getOtherdrainResponse">
<part name="parameters" element="tns:getOtherdrainResponse"/>
</message>
<message name="countOtherdrain">
<part name="parameters" element="tns:countOtherdrain"/>
</message>
<message name="countOtherdrainResponse">
<part name="parameters" element="tns:countOtherdrainResponse"/>
</message>
<message name="deleteOtherdrain">
<part name="parameters" element="tns:deleteOtherdrain"/>
</message>
<message name="editOtherdrain">
<part name="parameters" element="tns:editOtherdrain"/>
</message>
<message name="listOtherdrain">
<part name="parameters" element="tns:listOtherdrain"/>
</message>
<message name="listOtherdrainResponse">
<part name="parameters" element="tns:listOtherdrainResponse"/>
</message>
<message name="createOtherdrain">
<part name="parameters" element="tns:createOtherdrain"/>
</message>
<message name="createOtherdrainResponse">
<part name="parameters" element="tns:createOtherdrainResponse"/>
</message>
<message name="getOtherdrainByProject">
<part name="parameters" element="tns:getOtherdrainByProject"/>
</message>
<message name="getOtherdrainByProjectResponse">
<part name="parameters" element="tns:getOtherdrainByProjectResponse"/>
</message>
<portType name="OtherdrainService">
<operation name="getOtherdrain">
<input wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/getOtherdrainRequest" message="tns:getOtherdrain"/>
<output wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/getOtherdrainResponse" message="tns:getOtherdrainResponse"/>
</operation>
<operation name="countOtherdrain">
<input wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/countOtherdrainRequest" message="tns:countOtherdrain"/>
<output wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/countOtherdrainResponse" message="tns:countOtherdrainResponse"/>
</operation>
<operation name="deleteOtherdrain">
<input wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/deleteOtherdrain" message="tns:deleteOtherdrain"/>
</operation>
<operation name="editOtherdrain">
<input wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/editOtherdrain" message="tns:editOtherdrain"/>
</operation>
<operation name="listOtherdrain">
<input wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/listOtherdrainRequest" message="tns:listOtherdrain"/>
<output wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/listOtherdrainResponse" message="tns:listOtherdrainResponse"/>
</operation>
<operation name="createOtherdrain">
<input wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/createOtherdrainRequest" message="tns:createOtherdrain"/>
<output wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/createOtherdrainResponse" message="tns:createOtherdrainResponse"/>
</operation>
<operation name="getOtherdrainByProject">
<input wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/getOtherdrainByProjectRequest" message="tns:getOtherdrainByProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/OtherdrainService/getOtherdrainByProjectResponse" message="tns:getOtherdrainByProjectResponse"/>
</operation>
</portType>
<binding name="OtherdrainServicePortBinding" type="tns:OtherdrainService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOtherdrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countOtherdrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteOtherdrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editOtherdrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listOtherdrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOtherdrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOtherdrainByProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OtherdrainService">
<port name="OtherdrainServicePort" binding="tns:OtherdrainServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/OtherdrainService"/>
</port>
</service>
</definitions>