ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/OtherdrainService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="countOtherdrain" type="tns:countOtherdrain"/>

<xs:element name="countOtherdrainResponse" type="tns:countOtherdrainResponse"/>

<xs:element name="createOtherdrain" type="tns:createOtherdrain"/>

<xs:element name="createOtherdrainResponse" type="tns:createOtherdrainResponse"/>

<xs:element name="deleteOtherdrain" type="tns:deleteOtherdrain"/>

<xs:element name="editOtherdrain" type="tns:editOtherdrain"/>

<xs:element name="getOtherdrain" type="tns:getOtherdrain"/>

<xs:element name="getOtherdrainByProject" type="tns:getOtherdrainByProject"/>

<xs:element name="getOtherdrainByProjectResponse" type="tns:getOtherdrainByProjectResponse"/>

<xs:element name="getOtherdrainResponse" type="tns:getOtherdrainResponse"/>

<xs:element name="listOtherdrain" type="tns:listOtherdrain"/>

<xs:element name="listOtherdrainResponse" type="tns:listOtherdrainResponse"/>

<xs:complexType name="deleteOtherdrain">
<xs:sequence>
<xs:element name="u" type="tns:otherdrain" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="otherdrain">
<xs:sequence>
<xs:element name="arend" type="xs:double"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="project" type="tns:project" minOccurs="0"/>
<xs:element name="service" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="projectgroup" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listOtherdrain">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listOtherdrainResponse">
<xs:sequence>
<xs:element name="return" type="tns:otherdrain" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countOtherdrain">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countOtherdrainResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editOtherdrain">
<xs:sequence>
<xs:element name="u" type="tns:otherdrain" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOtherdrainByProject">
<xs:sequence>
<xs:element name="project" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOtherdrainByProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:otherdrain" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOtherdrain">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOtherdrainResponse">
<xs:sequence>
<xs:element name="return" type="tns:otherdrain" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOtherdrain">
<xs:sequence>
<xs:element name="u" type="tns:otherdrain" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOtherdrainResponse">
<xs:sequence>
<xs:element name="return" type="tns:otherdrain" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>