ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/ProjectService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="ProjectService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/ProjectService?xsd=1"/>
</xsd:schema>
</types>
<message name="editProject">
<part name="parameters" element="tns:editProject"/>
</message>
<message name="countProject">
<part name="parameters" element="tns:countProject"/>
</message>
<message name="countProjectResponse">
<part name="parameters" element="tns:countProjectResponse"/>
</message>
<message name="createProject">
<part name="parameters" element="tns:createProject"/>
</message>
<message name="createProjectResponse">
<part name="parameters" element="tns:createProjectResponse"/>
</message>
<message name="deleteProject">
<part name="parameters" element="tns:deleteProject"/>
</message>
<message name="getProject">
<part name="parameters" element="tns:getProject"/>
</message>
<message name="getProjectResponse">
<part name="parameters" element="tns:getProjectResponse"/>
</message>
<message name="listProject">
<part name="parameters" element="tns:listProject"/>
</message>
<message name="listProjectResponse">
<part name="parameters" element="tns:listProjectResponse"/>
</message>
<message name="listProjectsByProjectgroup">
<part name="parameters" element="tns:listProjectsByProjectgroup"/>
</message>
<message name="listProjectsByProjectgroupResponse">
<part name="parameters" element="tns:listProjectsByProjectgroupResponse"/>
</message>
<portType name="ProjectService">
<operation name="editProject">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectService/editProject" message="tns:editProject"/>
</operation>
<operation name="countProject">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectService/countProjectRequest" message="tns:countProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectService/countProjectResponse" message="tns:countProjectResponse"/>
</operation>
<operation name="createProject">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectService/createProjectRequest" message="tns:createProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectService/createProjectResponse" message="tns:createProjectResponse"/>
</operation>
<operation name="deleteProject">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectService/deleteProject" message="tns:deleteProject"/>
</operation>
<operation name="getProject">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectService/getProjectRequest" message="tns:getProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectService/getProjectResponse" message="tns:getProjectResponse"/>
</operation>
<operation name="listProject">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectService/listProjectRequest" message="tns:listProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectService/listProjectResponse" message="tns:listProjectResponse"/>
</operation>
<operation name="listProjectsByProjectgroup">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectService/listProjectsByProjectgroupRequest" message="tns:listProjectsByProjectgroup"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectService/listProjectsByProjectgroupResponse" message="tns:listProjectsByProjectgroupResponse"/>
</operation>
</portType>
<binding name="ProjectServicePortBinding" type="tns:ProjectService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listProjectsByProjectgroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProjectService">
<port name="ProjectServicePort" binding="tns:ProjectServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/ProjectService"/>
</port>
</service>
</definitions>