ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/ProjectgroupService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="ProjectgroupService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/ProjectgroupService?xsd=1"/>
</xsd:schema>
</types>
<message name="getProjectgroup">
<part name="parameters" element="tns:getProjectgroup"/>
</message>
<message name="getProjectgroupResponse">
<part name="parameters" element="tns:getProjectgroupResponse"/>
</message>
<message name="editProjectgroup">
<part name="parameters" element="tns:editProjectgroup"/>
</message>
<message name="listProjectgroup">
<part name="parameters" element="tns:listProjectgroup"/>
</message>
<message name="listProjectgroupResponse">
<part name="parameters" element="tns:listProjectgroupResponse"/>
</message>
<message name="deleteProjectgroup">
<part name="parameters" element="tns:deleteProjectgroup"/>
</message>
<message name="countProjectgroup">
<part name="parameters" element="tns:countProjectgroup"/>
</message>
<message name="countProjectgroupResponse">
<part name="parameters" element="tns:countProjectgroupResponse"/>
</message>
<message name="createProjectgroup">
<part name="parameters" element="tns:createProjectgroup"/>
</message>
<message name="createProjectgroupResponse">
<part name="parameters" element="tns:createProjectgroupResponse"/>
</message>
<message name="listProjectgroupByUser">
<part name="parameters" element="tns:listProjectgroupByUser"/>
</message>
<message name="listProjectgroupByUserResponse">
<part name="parameters" element="tns:listProjectgroupByUserResponse"/>
</message>
<portType name="ProjectgroupService">
<operation name="getProjectgroup">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/getProjectgroupRequest" message="tns:getProjectgroup"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/getProjectgroupResponse" message="tns:getProjectgroupResponse"/>
</operation>
<operation name="editProjectgroup">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/editProjectgroup" message="tns:editProjectgroup"/>
</operation>
<operation name="listProjectgroup">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/listProjectgroupRequest" message="tns:listProjectgroup"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/listProjectgroupResponse" message="tns:listProjectgroupResponse"/>
</operation>
<operation name="deleteProjectgroup">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/deleteProjectgroup" message="tns:deleteProjectgroup"/>
</operation>
<operation name="countProjectgroup">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/countProjectgroupRequest" message="tns:countProjectgroup"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/countProjectgroupResponse" message="tns:countProjectgroupResponse"/>
</operation>
<operation name="createProjectgroup">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/createProjectgroupRequest" message="tns:createProjectgroup"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/createProjectgroupResponse" message="tns:createProjectgroupResponse"/>
</operation>
<operation name="listProjectgroupByUser">
<input wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/listProjectgroupByUserRequest" message="tns:listProjectgroupByUser"/>
<output wsam:Action="http://ws.smolyakovaov.com/ProjectgroupService/listProjectgroupByUserResponse" message="tns:listProjectgroupByUserResponse"/>
</operation>
</portType>
<binding name="ProjectgroupServicePortBinding" type="tns:ProjectgroupService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProjectgroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProjectgroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listProjectgroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProjectgroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countProjectgroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProjectgroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listProjectgroupByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProjectgroupService">
<port name="ProjectgroupServicePort" binding="tns:ProjectgroupServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/ProjectgroupService"/>
</port>
</service>
</definitions>