ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/ProjectgroupService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="countProjectgroup" type="tns:countProjectgroup"/>

<xs:element name="countProjectgroupResponse" type="tns:countProjectgroupResponse"/>

<xs:element name="createProjectgroup" type="tns:createProjectgroup"/>

<xs:element name="createProjectgroupResponse" type="tns:createProjectgroupResponse"/>

<xs:element name="deleteProjectgroup" type="tns:deleteProjectgroup"/>

<xs:element name="editProjectgroup" type="tns:editProjectgroup"/>

<xs:element name="getProjectgroup" type="tns:getProjectgroup"/>

<xs:element name="getProjectgroupResponse" type="tns:getProjectgroupResponse"/>

<xs:element name="listProjectgroup" type="tns:listProjectgroup"/>

<xs:element name="listProjectgroupByUser" type="tns:listProjectgroupByUser"/>

<xs:element name="listProjectgroupByUserResponse" type="tns:listProjectgroupByUserResponse"/>

<xs:element name="listProjectgroupResponse" type="tns:listProjectgroupResponse"/>

<xs:complexType name="listProjectgroup">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listProjectgroupResponse">
<xs:sequence>
<xs:element name="return" type="tns:projectgroup" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listProjectgroupByUser">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listProjectgroupByUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:projectgroup" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProjectgroup">
<xs:sequence>
<xs:element name="u" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countProjectgroup">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countProjectgroupResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProjectgroup">
<xs:sequence>
<xs:element name="u" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProjectgroup">
<xs:sequence>
<xs:element name="u" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProjectgroupResponse">
<xs:sequence>
<xs:element name="return" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProjectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProjectgroupResponse">
<xs:sequence>
<xs:element name="return" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>