ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/PromotionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="PromotionService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/PromotionService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPromotion">
<part name="parameters" element="tns:getPromotion"/>
</message>
<message name="getPromotionResponse">
<part name="parameters" element="tns:getPromotionResponse"/>
</message>
<message name="deletePromotion">
<part name="parameters" element="tns:deletePromotion"/>
</message>
<message name="countPromotion">
<part name="parameters" element="tns:countPromotion"/>
</message>
<message name="countPromotionResponse">
<part name="parameters" element="tns:countPromotionResponse"/>
</message>
<message name="listPromotion">
<part name="parameters" element="tns:listPromotion"/>
</message>
<message name="listPromotionResponse">
<part name="parameters" element="tns:listPromotionResponse"/>
</message>
<message name="createPromotion">
<part name="parameters" element="tns:createPromotion"/>
</message>
<message name="createPromotionResponse">
<part name="parameters" element="tns:createPromotionResponse"/>
</message>
<message name="editPromotion">
<part name="parameters" element="tns:editPromotion"/>
</message>
<message name="getPromotionByProject">
<part name="parameters" element="tns:getPromotionByProject"/>
</message>
<message name="getPromotionByProjectResponse">
<part name="parameters" element="tns:getPromotionByProjectResponse"/>
</message>
<portType name="PromotionService">
<operation name="getPromotion">
<input wsam:Action="http://ws.smolyakovaov.com/PromotionService/getPromotionRequest" message="tns:getPromotion"/>
<output wsam:Action="http://ws.smolyakovaov.com/PromotionService/getPromotionResponse" message="tns:getPromotionResponse"/>
</operation>
<operation name="deletePromotion">
<input wsam:Action="http://ws.smolyakovaov.com/PromotionService/deletePromotion" message="tns:deletePromotion"/>
</operation>
<operation name="countPromotion">
<input wsam:Action="http://ws.smolyakovaov.com/PromotionService/countPromotionRequest" message="tns:countPromotion"/>
<output wsam:Action="http://ws.smolyakovaov.com/PromotionService/countPromotionResponse" message="tns:countPromotionResponse"/>
</operation>
<operation name="listPromotion">
<input wsam:Action="http://ws.smolyakovaov.com/PromotionService/listPromotionRequest" message="tns:listPromotion"/>
<output wsam:Action="http://ws.smolyakovaov.com/PromotionService/listPromotionResponse" message="tns:listPromotionResponse"/>
</operation>
<operation name="createPromotion">
<input wsam:Action="http://ws.smolyakovaov.com/PromotionService/createPromotionRequest" message="tns:createPromotion"/>
<output wsam:Action="http://ws.smolyakovaov.com/PromotionService/createPromotionResponse" message="tns:createPromotionResponse"/>
</operation>
<operation name="editPromotion">
<input wsam:Action="http://ws.smolyakovaov.com/PromotionService/editPromotion" message="tns:editPromotion"/>
</operation>
<operation name="getPromotionByProject">
<input wsam:Action="http://ws.smolyakovaov.com/PromotionService/getPromotionByProjectRequest" message="tns:getPromotionByProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/PromotionService/getPromotionByProjectResponse" message="tns:getPromotionByProjectResponse"/>
</operation>
</portType>
<binding name="PromotionServicePortBinding" type="tns:PromotionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPromotion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePromotion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countPromotion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listPromotion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPromotion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPromotion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPromotionByProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PromotionService">
<port name="PromotionServicePort" binding="tns:PromotionServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/PromotionService"/>
</port>
</service>
</definitions>