ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/QualityService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="countQuality" type="tns:countQuality"/>

<xs:element name="countQualityResponse" type="tns:countQualityResponse"/>

<xs:element name="createQuality" type="tns:createQuality"/>

<xs:element name="createQualityResponse" type="tns:createQualityResponse"/>

<xs:element name="deleteQuality" type="tns:deleteQuality"/>

<xs:element name="editQuality" type="tns:editQuality"/>

<xs:element name="getQuality" type="tns:getQuality"/>

<xs:element name="getQualityByProject" type="tns:getQualityByProject"/>

<xs:element name="getQualityByProjectResponse" type="tns:getQualityByProjectResponse"/>

<xs:element name="getQualityResponse" type="tns:getQualityResponse"/>

<xs:element name="listQuality" type="tns:listQuality"/>

<xs:element name="listQualityResponse" type="tns:listQualityResponse"/>

<xs:complexType name="countQuality">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countQualityResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuality">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQualityResponse">
<xs:sequence>
<xs:element name="return" type="tns:quality" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quality">
<xs:sequence>
<xs:element name="actuality" type="xs:byte"/>
<xs:element name="functional" type="xs:byte"/>
<xs:element name="gui" type="xs:byte"/>
<xs:element name="hardware" type="xs:byte"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="project" type="tns:project" minOccurs="0"/>
<xs:element name="speed" type="xs:byte"/>
<xs:element name="support" type="xs:byte"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="projectgroup" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQuality">
<xs:sequence>
<xs:element name="u" type="tns:quality" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQualityResponse">
<xs:sequence>
<xs:element name="return" type="tns:quality" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listQuality">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listQualityResponse">
<xs:sequence>
<xs:element name="return" type="tns:quality" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQualityByProject">
<xs:sequence>
<xs:element name="project" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQualityByProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:quality" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editQuality">
<xs:sequence>
<xs:element name="u" type="tns:quality" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuality">
<xs:sequence>
<xs:element name="u" type="tns:quality" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>