ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/QualityService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="QualityService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/QualityService?xsd=1"/>
</xsd:schema>
</types>
<message name="getQuality">
<part name="parameters" element="tns:getQuality"/>
</message>
<message name="getQualityResponse">
<part name="parameters" element="tns:getQualityResponse"/>
</message>
<message name="editQuality">
<part name="parameters" element="tns:editQuality"/>
</message>
<message name="listQuality">
<part name="parameters" element="tns:listQuality"/>
</message>
<message name="listQualityResponse">
<part name="parameters" element="tns:listQualityResponse"/>
</message>
<message name="createQuality">
<part name="parameters" element="tns:createQuality"/>
</message>
<message name="createQualityResponse">
<part name="parameters" element="tns:createQualityResponse"/>
</message>
<message name="countQuality">
<part name="parameters" element="tns:countQuality"/>
</message>
<message name="countQualityResponse">
<part name="parameters" element="tns:countQualityResponse"/>
</message>
<message name="deleteQuality">
<part name="parameters" element="tns:deleteQuality"/>
</message>
<message name="getQualityByProject">
<part name="parameters" element="tns:getQualityByProject"/>
</message>
<message name="getQualityByProjectResponse">
<part name="parameters" element="tns:getQualityByProjectResponse"/>
</message>
<portType name="QualityService">
<operation name="getQuality">
<input wsam:Action="http://ws.smolyakovaov.com/QualityService/getQualityRequest" message="tns:getQuality"/>
<output wsam:Action="http://ws.smolyakovaov.com/QualityService/getQualityResponse" message="tns:getQualityResponse"/>
</operation>
<operation name="editQuality">
<input wsam:Action="http://ws.smolyakovaov.com/QualityService/editQuality" message="tns:editQuality"/>
</operation>
<operation name="listQuality">
<input wsam:Action="http://ws.smolyakovaov.com/QualityService/listQualityRequest" message="tns:listQuality"/>
<output wsam:Action="http://ws.smolyakovaov.com/QualityService/listQualityResponse" message="tns:listQualityResponse"/>
</operation>
<operation name="createQuality">
<input wsam:Action="http://ws.smolyakovaov.com/QualityService/createQualityRequest" message="tns:createQuality"/>
<output wsam:Action="http://ws.smolyakovaov.com/QualityService/createQualityResponse" message="tns:createQualityResponse"/>
</operation>
<operation name="countQuality">
<input wsam:Action="http://ws.smolyakovaov.com/QualityService/countQualityRequest" message="tns:countQuality"/>
<output wsam:Action="http://ws.smolyakovaov.com/QualityService/countQualityResponse" message="tns:countQualityResponse"/>
</operation>
<operation name="deleteQuality">
<input wsam:Action="http://ws.smolyakovaov.com/QualityService/deleteQuality" message="tns:deleteQuality"/>
</operation>
<operation name="getQualityByProject">
<input wsam:Action="http://ws.smolyakovaov.com/QualityService/getQualityByProjectRequest" message="tns:getQualityByProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/QualityService/getQualityByProjectResponse" message="tns:getQualityByProjectResponse"/>
</operation>
</portType>
<binding name="QualityServicePortBinding" type="tns:QualityService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getQuality">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editQuality">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listQuality">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createQuality">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countQuality">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQuality">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getQualityByProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QualityService">
<port name="QualityServicePort" binding="tns:QualityServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/QualityService"/>
</port>
</service>
</definitions>