ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/SalesService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="countSales" type="tns:countSales"/>

<xs:element name="countSalesResponse" type="tns:countSalesResponse"/>

<xs:element name="createSales" type="tns:createSales"/>

<xs:element name="createSalesResponse" type="tns:createSalesResponse"/>

<xs:element name="deleteSales" type="tns:deleteSales"/>

<xs:element name="editSales" type="tns:editSales"/>

<xs:element name="getSales" type="tns:getSales"/>

<xs:element name="getSalesByProject" type="tns:getSalesByProject"/>

<xs:element name="getSalesByProjectResponse" type="tns:getSalesByProjectResponse"/>

<xs:element name="getSalesResponse" type="tns:getSalesResponse"/>

<xs:element name="listSales" type="tns:listSales"/>

<xs:element name="listSalesResponse" type="tns:listSalesResponse"/>

<xs:complexType name="getSales">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesResponse">
<xs:sequence>
<xs:element name="return" type="tns:sales" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sales">
<xs:sequence>
<xs:element name="costForoneOther" type="xs:double"/>
<xs:element name="costForoneRelease" type="xs:double"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="planningAuditory" type="xs:int"/>
<xs:element name="planningPayback" type="xs:double"/>
<xs:element name="planningPaybackIndays" type="xs:int"/>
<xs:element name="project" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="projectgroup" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesByProject">
<xs:sequence>
<xs:element name="project" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesByProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:sales" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editSales">
<xs:sequence>
<xs:element name="u" type="tns:sales" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listSales">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listSalesResponse">
<xs:sequence>
<xs:element name="return" type="tns:sales" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countSales">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countSalesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSales">
<xs:sequence>
<xs:element name="u" type="tns:sales" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSales">
<xs:sequence>
<xs:element name="u" type="tns:sales" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSalesResponse">
<xs:sequence>
<xs:element name="return" type="tns:sales" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>