ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/SalesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="SalesService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/SalesService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSales">
<part name="parameters" element="tns:getSales"/>
</message>
<message name="getSalesResponse">
<part name="parameters" element="tns:getSalesResponse"/>
</message>
<message name="listSales">
<part name="parameters" element="tns:listSales"/>
</message>
<message name="listSalesResponse">
<part name="parameters" element="tns:listSalesResponse"/>
</message>
<message name="editSales">
<part name="parameters" element="tns:editSales"/>
</message>
<message name="countSales">
<part name="parameters" element="tns:countSales"/>
</message>
<message name="countSalesResponse">
<part name="parameters" element="tns:countSalesResponse"/>
</message>
<message name="createSales">
<part name="parameters" element="tns:createSales"/>
</message>
<message name="createSalesResponse">
<part name="parameters" element="tns:createSalesResponse"/>
</message>
<message name="deleteSales">
<part name="parameters" element="tns:deleteSales"/>
</message>
<message name="getSalesByProject">
<part name="parameters" element="tns:getSalesByProject"/>
</message>
<message name="getSalesByProjectResponse">
<part name="parameters" element="tns:getSalesByProjectResponse"/>
</message>
<portType name="SalesService">
<operation name="getSales">
<input wsam:Action="http://ws.smolyakovaov.com/SalesService/getSalesRequest" message="tns:getSales"/>
<output wsam:Action="http://ws.smolyakovaov.com/SalesService/getSalesResponse" message="tns:getSalesResponse"/>
</operation>
<operation name="listSales">
<input wsam:Action="http://ws.smolyakovaov.com/SalesService/listSalesRequest" message="tns:listSales"/>
<output wsam:Action="http://ws.smolyakovaov.com/SalesService/listSalesResponse" message="tns:listSalesResponse"/>
</operation>
<operation name="editSales">
<input wsam:Action="http://ws.smolyakovaov.com/SalesService/editSales" message="tns:editSales"/>
</operation>
<operation name="countSales">
<input wsam:Action="http://ws.smolyakovaov.com/SalesService/countSalesRequest" message="tns:countSales"/>
<output wsam:Action="http://ws.smolyakovaov.com/SalesService/countSalesResponse" message="tns:countSalesResponse"/>
</operation>
<operation name="createSales">
<input wsam:Action="http://ws.smolyakovaov.com/SalesService/createSalesRequest" message="tns:createSales"/>
<output wsam:Action="http://ws.smolyakovaov.com/SalesService/createSalesResponse" message="tns:createSalesResponse"/>
</operation>
<operation name="deleteSales">
<input wsam:Action="http://ws.smolyakovaov.com/SalesService/deleteSales" message="tns:deleteSales"/>
</operation>
<operation name="getSalesByProject">
<input wsam:Action="http://ws.smolyakovaov.com/SalesService/getSalesByProjectRequest" message="tns:getSalesByProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/SalesService/getSalesByProjectResponse" message="tns:getSalesByProjectResponse"/>
</operation>
</portType>
<binding name="SalesServicePortBinding" type="tns:SalesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getSalesByProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SalesService">
<port name="SalesServicePort" binding="tns:SalesServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/SalesService"/>
</port>
</service>
</definitions>