ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/StatisticService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="getStatisticByProject" type="tns:getStatisticByProject"/>

<xs:element name="getStatisticByProjectResponse" type="tns:getStatisticByProjectResponse"/>

<xs:complexType name="getStatisticByProject">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatisticByProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:statisticAll" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statisticAll">
<xs:sequence>
<xs:element name="days" type="tns:statisticDay" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="payback_day" type="xs:int"/>
<xs:element name="planning_payback" type="xs:boolean"/>
<xs:element name="profit" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statisticDay">
<xs:sequence>
<xs:element name="day" type="xs:int" minOccurs="0"/>
<xs:element name="expenses_all" type="xs:double"/>
<xs:element name="expenses_day" type="xs:double"/>
<xs:element name="expenses_otherdrains" type="xs:double"/>
<xs:element name="expenses_promotions" type="xs:double"/>
<xs:element name="expenses_wages" type="xs:double"/>
<xs:element name="income_all" type="xs:double"/>
<xs:element name="income_sales" type="xs:double"/>
<xs:element name="period" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>