ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/TimeschedulerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="countTimescheduler" type="tns:countTimescheduler"/>

<xs:element name="countTimeschedulerResponse" type="tns:countTimeschedulerResponse"/>

<xs:element name="createTimescheduler" type="tns:createTimescheduler"/>

<xs:element name="createTimeschedulerResponse" type="tns:createTimeschedulerResponse"/>

<xs:element name="deleteTimescheduler" type="tns:deleteTimescheduler"/>

<xs:element name="editTimescheduler" type="tns:editTimescheduler"/>

<xs:element name="getTimescheduler" type="tns:getTimescheduler"/>

<xs:element name="getTimeschedulerByProject" type="tns:getTimeschedulerByProject"/>

<xs:element name="getTimeschedulerByProjectResponse" type="tns:getTimeschedulerByProjectResponse"/>

<xs:element name="getTimeschedulerResponse" type="tns:getTimeschedulerResponse"/>

<xs:element name="listTimescheduler" type="tns:listTimescheduler"/>

<xs:element name="listTimeschedulerResponse" type="tns:listTimeschedulerResponse"/>

<xs:complexType name="getTimescheduler">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTimeschedulerResponse">
<xs:sequence>
<xs:element name="return" type="tns:timescheduler" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timescheduler">
<xs:sequence>
<xs:element name="architecture" type="xs:int"/>
<xs:element name="developing" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="project" type="tns:project" minOccurs="0"/>
<xs:element name="release" type="xs:int"/>
<xs:element name="support" type="xs:int"/>
<xs:element name="testing" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="projectgroup" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editTimescheduler">
<xs:sequence>
<xs:element name="u" type="tns:timescheduler" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTimeschedulerByProject">
<xs:sequence>
<xs:element name="project" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTimeschedulerByProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:timescheduler" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listTimescheduler">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listTimeschedulerResponse">
<xs:sequence>
<xs:element name="return" type="tns:timescheduler" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countTimescheduler">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countTimeschedulerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTimescheduler">
<xs:sequence>
<xs:element name="u" type="tns:timescheduler" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTimescheduler">
<xs:sequence>
<xs:element name="u" type="tns:timescheduler" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTimeschedulerResponse">
<xs:sequence>
<xs:element name="return" type="tns:timescheduler" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>