ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/TimeschedulerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="TimeschedulerService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/TimeschedulerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTimescheduler">
<part name="parameters" element="tns:getTimescheduler"/>
</message>
<message name="getTimeschedulerResponse">
<part name="parameters" element="tns:getTimeschedulerResponse"/>
</message>
<message name="createTimescheduler">
<part name="parameters" element="tns:createTimescheduler"/>
</message>
<message name="createTimeschedulerResponse">
<part name="parameters" element="tns:createTimeschedulerResponse"/>
</message>
<message name="editTimescheduler">
<part name="parameters" element="tns:editTimescheduler"/>
</message>
<message name="listTimescheduler">
<part name="parameters" element="tns:listTimescheduler"/>
</message>
<message name="listTimeschedulerResponse">
<part name="parameters" element="tns:listTimeschedulerResponse"/>
</message>
<message name="getTimeschedulerByProject">
<part name="parameters" element="tns:getTimeschedulerByProject"/>
</message>
<message name="getTimeschedulerByProjectResponse">
<part name="parameters" element="tns:getTimeschedulerByProjectResponse"/>
</message>
<message name="countTimescheduler">
<part name="parameters" element="tns:countTimescheduler"/>
</message>
<message name="countTimeschedulerResponse">
<part name="parameters" element="tns:countTimeschedulerResponse"/>
</message>
<message name="deleteTimescheduler">
<part name="parameters" element="tns:deleteTimescheduler"/>
</message>
<portType name="TimeschedulerService">
<operation name="getTimescheduler">
<input wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/getTimeschedulerRequest" message="tns:getTimescheduler"/>
<output wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/getTimeschedulerResponse" message="tns:getTimeschedulerResponse"/>
</operation>
<operation name="createTimescheduler">
<input wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/createTimeschedulerRequest" message="tns:createTimescheduler"/>
<output wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/createTimeschedulerResponse" message="tns:createTimeschedulerResponse"/>
</operation>
<operation name="editTimescheduler">
<input wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/editTimescheduler" message="tns:editTimescheduler"/>
</operation>
<operation name="listTimescheduler">
<input wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/listTimeschedulerRequest" message="tns:listTimescheduler"/>
<output wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/listTimeschedulerResponse" message="tns:listTimeschedulerResponse"/>
</operation>
<operation name="getTimeschedulerByProject">
<input wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/getTimeschedulerByProjectRequest" message="tns:getTimeschedulerByProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/getTimeschedulerByProjectResponse" message="tns:getTimeschedulerByProjectResponse"/>
</operation>
<operation name="countTimescheduler">
<input wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/countTimeschedulerRequest" message="tns:countTimescheduler"/>
<output wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/countTimeschedulerResponse" message="tns:countTimeschedulerResponse"/>
</operation>
<operation name="deleteTimescheduler">
<input wsam:Action="http://ws.smolyakovaov.com/TimeschedulerService/deleteTimescheduler" message="tns:deleteTimescheduler"/>
</operation>
</portType>
<binding name="TimeschedulerServicePortBinding" type="tns:TimeschedulerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTimescheduler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTimescheduler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editTimescheduler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listTimescheduler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTimeschedulerByProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countTimescheduler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTimescheduler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="TimeschedulerService">
<port name="TimeschedulerServicePort" binding="tns:TimeschedulerServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/TimeschedulerService"/>
</port>
</service>
</definitions>