ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="changePassword" type="tns:changePassword"/>

<xs:element name="changePasswordSecure" type="tns:changePasswordSecure"/>

<xs:element name="countUser" type="tns:countUser"/>

<xs:element name="countUserResponse" type="tns:countUserResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserFromEntity" type="tns:createUserFromEntity"/>

<xs:element name="createUserFromEntityResponse" type="tns:createUserFromEntityResponse"/>

<xs:element name="deleteUserFromEntity" type="tns:deleteUserFromEntity"/>

<xs:element name="editUserFromEntity" type="tns:editUserFromEntity"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="listUser" type="tns:listUser"/>

<xs:element name="listUserOrderByLogin" type="tns:listUserOrderByLogin"/>

<xs:element name="listUserOrderByLoginResponse" type="tns:listUserOrderByLoginResponse"/>

<xs:element name="listUserResponse" type="tns:listUserResponse"/>

<xs:element name="loginUser" type="tns:loginUser"/>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

<xs:element name="setGroup" type="tns:setGroup"/>

<xs:element name="setInfo" type="tns:setInfo"/>

<xs:complexType name="changePassword">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserFromEntity">
<xs:sequence>
<xs:element name="u" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserFromEntityResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setInfo">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listUserOrderByLogin">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listUserOrderByLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePasswordSecure">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="oldpassword" type="xs:string" minOccurs="0"/>
<xs:element name="newpassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUserFromEntity">
<xs:sequence>
<xs:element name="u" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setGroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="g" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserFromEntity">
<xs:sequence>
<xs:element name="u" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>