ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="UserService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/UserService?xsd=1"/>
</xsd:schema>
</types>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="countUser">
<part name="parameters" element="tns:countUser"/>
</message>
<message name="countUserResponse">
<part name="parameters" element="tns:countUserResponse"/>
</message>
<message name="listUser">
<part name="parameters" element="tns:listUser"/>
</message>
<message name="listUserResponse">
<part name="parameters" element="tns:listUserResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordSecure">
<part name="parameters" element="tns:changePasswordSecure"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="setInfo">
<part name="parameters" element="tns:setInfo"/>
</message>
<message name="setGroup">
<part name="parameters" element="tns:setGroup"/>
</message>
<message name="listUserOrderByLogin">
<part name="parameters" element="tns:listUserOrderByLogin"/>
</message>
<message name="listUserOrderByLoginResponse">
<part name="parameters" element="tns:listUserOrderByLoginResponse"/>
</message>
<message name="deleteUserFromEntity">
<part name="parameters" element="tns:deleteUserFromEntity"/>
</message>
<message name="createUserFromEntity">
<part name="parameters" element="tns:createUserFromEntity"/>
</message>
<message name="createUserFromEntityResponse">
<part name="parameters" element="tns:createUserFromEntityResponse"/>
</message>
<message name="editUserFromEntity">
<part name="parameters" element="tns:editUserFromEntity"/>
</message>
<portType name="UserService">
<operation name="loginUser">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://ws.smolyakovaov.com/UserService/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="countUser">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/countUserRequest" message="tns:countUser"/>
<output wsam:Action="http://ws.smolyakovaov.com/UserService/countUserResponse" message="tns:countUserResponse"/>
</operation>
<operation name="listUser">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/listUserRequest" message="tns:listUser"/>
<output wsam:Action="http://ws.smolyakovaov.com/UserService/listUserResponse" message="tns:listUserResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://ws.smolyakovaov.com/UserService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/changePassword" message="tns:changePassword"/>
</operation>
<operation name="changePasswordSecure">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/changePasswordSecure" message="tns:changePasswordSecure"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/createUser" message="tns:createUser"/>
</operation>
<operation name="setInfo">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/setInfo" message="tns:setInfo"/>
</operation>
<operation name="setGroup">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/setGroup" message="tns:setGroup"/>
</operation>
<operation name="listUserOrderByLogin">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/listUserOrderByLoginRequest" message="tns:listUserOrderByLogin"/>
<output wsam:Action="http://ws.smolyakovaov.com/UserService/listUserOrderByLoginResponse" message="tns:listUserOrderByLoginResponse"/>
</operation>
<operation name="deleteUserFromEntity">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/deleteUserFromEntity" message="tns:deleteUserFromEntity"/>
</operation>
<operation name="createUserFromEntity">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/createUserFromEntityRequest" message="tns:createUserFromEntity"/>
<output wsam:Action="http://ws.smolyakovaov.com/UserService/createUserFromEntityResponse" message="tns:createUserFromEntityResponse"/>
</operation>
<operation name="editUserFromEntity">
<input wsam:Action="http://ws.smolyakovaov.com/UserService/editUserFromEntity" message="tns:editUserFromEntity"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="changePasswordSecure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listUserOrderByLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUserFromEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createUserFromEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUserFromEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="UserService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/UserService"/>
</port>
</service>
</definitions>