ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/WagesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="WagesService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/WagesService?xsd=1"/>
</xsd:schema>
</types>
<message name="getWages">
<part name="parameters" element="tns:getWages"/>
</message>
<message name="getWagesResponse">
<part name="parameters" element="tns:getWagesResponse"/>
</message>
<message name="countWages">
<part name="parameters" element="tns:countWages"/>
</message>
<message name="countWagesResponse">
<part name="parameters" element="tns:countWagesResponse"/>
</message>
<message name="deleteWages">
<part name="parameters" element="tns:deleteWages"/>
</message>
<message name="listWages">
<part name="parameters" element="tns:listWages"/>
</message>
<message name="listWagesResponse">
<part name="parameters" element="tns:listWagesResponse"/>
</message>
<message name="editWages">
<part name="parameters" element="tns:editWages"/>
</message>
<message name="createWages">
<part name="parameters" element="tns:createWages"/>
</message>
<message name="createWagesResponse">
<part name="parameters" element="tns:createWagesResponse"/>
</message>
<message name="getWagesByProject">
<part name="parameters" element="tns:getWagesByProject"/>
</message>
<message name="getWagesByProjectResponse">
<part name="parameters" element="tns:getWagesByProjectResponse"/>
</message>
<portType name="WagesService">
<operation name="getWages">
<input wsam:Action="http://ws.smolyakovaov.com/WagesService/getWagesRequest" message="tns:getWages"/>
<output wsam:Action="http://ws.smolyakovaov.com/WagesService/getWagesResponse" message="tns:getWagesResponse"/>
</operation>
<operation name="countWages">
<input wsam:Action="http://ws.smolyakovaov.com/WagesService/countWagesRequest" message="tns:countWages"/>
<output wsam:Action="http://ws.smolyakovaov.com/WagesService/countWagesResponse" message="tns:countWagesResponse"/>
</operation>
<operation name="deleteWages">
<input wsam:Action="http://ws.smolyakovaov.com/WagesService/deleteWages" message="tns:deleteWages"/>
</operation>
<operation name="listWages">
<input wsam:Action="http://ws.smolyakovaov.com/WagesService/listWagesRequest" message="tns:listWages"/>
<output wsam:Action="http://ws.smolyakovaov.com/WagesService/listWagesResponse" message="tns:listWagesResponse"/>
</operation>
<operation name="editWages">
<input wsam:Action="http://ws.smolyakovaov.com/WagesService/editWages" message="tns:editWages"/>
</operation>
<operation name="createWages">
<input wsam:Action="http://ws.smolyakovaov.com/WagesService/createWagesRequest" message="tns:createWages"/>
<output wsam:Action="http://ws.smolyakovaov.com/WagesService/createWagesResponse" message="tns:createWagesResponse"/>
</operation>
<operation name="getWagesByProject">
<input wsam:Action="http://ws.smolyakovaov.com/WagesService/getWagesByProjectRequest" message="tns:getWagesByProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/WagesService/getWagesByProjectResponse" message="tns:getWagesByProjectResponse"/>
</operation>
</portType>
<binding name="WagesServicePortBinding" type="tns:WagesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getWages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countWages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteWages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listWages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editWages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createWages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWagesByProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WagesService">
<port name="WagesServicePort" binding="tns:WagesServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/WagesService"/>
</port>
</service>
</definitions>