ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/WagesService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="countWages" type="tns:countWages"/>

<xs:element name="countWagesResponse" type="tns:countWagesResponse"/>

<xs:element name="createWages" type="tns:createWages"/>

<xs:element name="createWagesResponse" type="tns:createWagesResponse"/>

<xs:element name="deleteWages" type="tns:deleteWages"/>

<xs:element name="editWages" type="tns:editWages"/>

<xs:element name="getWages" type="tns:getWages"/>

<xs:element name="getWagesByProject" type="tns:getWagesByProject"/>

<xs:element name="getWagesByProjectResponse" type="tns:getWagesByProjectResponse"/>

<xs:element name="getWagesResponse" type="tns:getWagesResponse"/>

<xs:element name="listWages" type="tns:listWages"/>

<xs:element name="listWagesResponse" type="tns:listWagesResponse"/>

<xs:complexType name="deleteWages">
<xs:sequence>
<xs:element name="u" type="tns:wages" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wages">
<xs:sequence>
<xs:element name="architects" type="xs:double"/>
<xs:element name="designers" type="xs:double"/>
<xs:element name="developers" type="xs:double"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="project" type="tns:project" minOccurs="0"/>
<xs:element name="seos" type="xs:double"/>
<xs:element name="supports" type="xs:double"/>
<xs:element name="testers" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="projectgroup" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWages">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wages" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listWages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listWagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wages" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editWages">
<xs:sequence>
<xs:element name="u" type="tns:wages" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countWages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countWagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWagesByProject">
<xs:sequence>
<xs:element name="project" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWagesByProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:wages" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createWages">
<xs:sequence>
<xs:element name="u" type="tns:wages" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createWagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wages" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>