ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/WorkersService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.smolyakovaov.com/">

<xs:element name="countWorkers" type="tns:countWorkers"/>

<xs:element name="countWorkersResponse" type="tns:countWorkersResponse"/>

<xs:element name="createWorkers" type="tns:createWorkers"/>

<xs:element name="createWorkersResponse" type="tns:createWorkersResponse"/>

<xs:element name="deleteWorkers" type="tns:deleteWorkers"/>

<xs:element name="editWorkers" type="tns:editWorkers"/>

<xs:element name="getWorkers" type="tns:getWorkers"/>

<xs:element name="getWorkersByProject" type="tns:getWorkersByProject"/>

<xs:element name="getWorkersByProjectResponse" type="tns:getWorkersByProjectResponse"/>

<xs:element name="getWorkersResponse" type="tns:getWorkersResponse"/>

<xs:element name="listWorkers" type="tns:listWorkers"/>

<xs:element name="listWorkersResponse" type="tns:listWorkersResponse"/>

<xs:complexType name="listWorkers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listWorkersResponse">
<xs:sequence>
<xs:element name="return" type="tns:workers" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workers">
<xs:sequence>
<xs:element name="architects" type="xs:int"/>
<xs:element name="designers" type="xs:int"/>
<xs:element name="developers" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="project" type="tns:project" minOccurs="0"/>
<xs:element name="seos" type="xs:int"/>
<xs:element name="supports" type="xs:int"/>
<xs:element name="testers" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="projectgroup" type="tns:projectgroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectgroup">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="organization" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createWorkers">
<xs:sequence>
<xs:element name="u" type="tns:workers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createWorkersResponse">
<xs:sequence>
<xs:element name="return" type="tns:workers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editWorkers">
<xs:sequence>
<xs:element name="u" type="tns:workers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countWorkers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countWorkersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWorkersByProject">
<xs:sequence>
<xs:element name="project" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWorkersByProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:workers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWorkers">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWorkersResponse">
<xs:sequence>
<xs:element name="return" type="tns:workers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteWorkers">
<xs:sequence>
<xs:element name="u" type="tns:workers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>