ItInvestClient/ItInvestClient/src/wsdl/localhost_8080/ItInvestServer-web/WorkersService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.smolyakovaov.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.smolyakovaov.com/" name="WorkersService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.smolyakovaov.com/" schemaLocation="http://localhost:8080/ItInvestServer-web/WorkersService?xsd=1"/>
</xsd:schema>
</types>
<message name="getWorkers">
<part name="parameters" element="tns:getWorkers"/>
</message>
<message name="getWorkersResponse">
<part name="parameters" element="tns:getWorkersResponse"/>
</message>
<message name="listWorkers">
<part name="parameters" element="tns:listWorkers"/>
</message>
<message name="listWorkersResponse">
<part name="parameters" element="tns:listWorkersResponse"/>
</message>
<message name="editWorkers">
<part name="parameters" element="tns:editWorkers"/>
</message>
<message name="countWorkers">
<part name="parameters" element="tns:countWorkers"/>
</message>
<message name="countWorkersResponse">
<part name="parameters" element="tns:countWorkersResponse"/>
</message>
<message name="createWorkers">
<part name="parameters" element="tns:createWorkers"/>
</message>
<message name="createWorkersResponse">
<part name="parameters" element="tns:createWorkersResponse"/>
</message>
<message name="deleteWorkers">
<part name="parameters" element="tns:deleteWorkers"/>
</message>
<message name="getWorkersByProject">
<part name="parameters" element="tns:getWorkersByProject"/>
</message>
<message name="getWorkersByProjectResponse">
<part name="parameters" element="tns:getWorkersByProjectResponse"/>
</message>
<portType name="WorkersService">
<operation name="getWorkers">
<input wsam:Action="http://ws.smolyakovaov.com/WorkersService/getWorkersRequest" message="tns:getWorkers"/>
<output wsam:Action="http://ws.smolyakovaov.com/WorkersService/getWorkersResponse" message="tns:getWorkersResponse"/>
</operation>
<operation name="listWorkers">
<input wsam:Action="http://ws.smolyakovaov.com/WorkersService/listWorkersRequest" message="tns:listWorkers"/>
<output wsam:Action="http://ws.smolyakovaov.com/WorkersService/listWorkersResponse" message="tns:listWorkersResponse"/>
</operation>
<operation name="editWorkers">
<input wsam:Action="http://ws.smolyakovaov.com/WorkersService/editWorkers" message="tns:editWorkers"/>
</operation>
<operation name="countWorkers">
<input wsam:Action="http://ws.smolyakovaov.com/WorkersService/countWorkersRequest" message="tns:countWorkers"/>
<output wsam:Action="http://ws.smolyakovaov.com/WorkersService/countWorkersResponse" message="tns:countWorkersResponse"/>
</operation>
<operation name="createWorkers">
<input wsam:Action="http://ws.smolyakovaov.com/WorkersService/createWorkersRequest" message="tns:createWorkers"/>
<output wsam:Action="http://ws.smolyakovaov.com/WorkersService/createWorkersResponse" message="tns:createWorkersResponse"/>
</operation>
<operation name="deleteWorkers">
<input wsam:Action="http://ws.smolyakovaov.com/WorkersService/deleteWorkers" message="tns:deleteWorkers"/>
</operation>
<operation name="getWorkersByProject">
<input wsam:Action="http://ws.smolyakovaov.com/WorkersService/getWorkersByProjectRequest" message="tns:getWorkersByProject"/>
<output wsam:Action="http://ws.smolyakovaov.com/WorkersService/getWorkersByProjectResponse" message="tns:getWorkersByProjectResponse"/>
</operation>
</portType>
<binding name="WorkersServicePortBinding" type="tns:WorkersService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getWorkers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listWorkers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editWorkers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countWorkers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createWorkers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteWorkers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getWorkersByProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WorkersService">
<port name="WorkersServicePort" binding="tns:WorkersServicePortBinding">
<soap:address location="http://localhost:8080/ItInvestServer-web/WorkersService"/>
</port>
</service>
</definitions>